.list-weights ul{
    width: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.list-weights ul li{
    background: #fff;
    padding: 12px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 125px;
}

.list-weights ul li .icon{
    float: right;
}

.list-weights ul li .value{
    margin-top: 20px ;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #495057;
}

.list-weights ul li .date{
    display: block;
    text-align: center;
    color: #697077;
    margin-top: 10px;
}

